.jumbotron {
    background-image: url("https://league-mp7static.mlsdigital.net/images/wc-russia-2018.png?UEh4rZZIl2gW15TkGdoPke3krNCvwUUS.png");
background-blend-mode: inherit;
    background-repeat: no-repeat;
	background-position: center;
	-webkit-background-size: cover;
	background-size: cover;
	margin-bottom: 0px;
    text-align: center;
}

.jumbotron h1 {
	font-family: 'Montserrat', sans-serif;
	font-size: 65px;
	text-transform: uppercase;
    font-weight: 900;
    color: #e0c389;
    background-color: white;
    background:rgba(255,255,255,0.5);
    margin-top: 25px
}

.jumbotron p {
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	font-weight: 700;
    text-transform: uppercase;
    color: #266ea2;
    background-color: white;
    background:rgba(255,255,255,0.5);
    margin-top: 50px;
    border-top: 20px;
}